/* For Carousel */

#home {
  height: 600px;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 50px;
}

section#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

/* For each carousel slider */
div.item {
  position: absolute;
  width: 320px;
  height: 470px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  font-size: 14px;
  overflow: hidden;
}

/* css for educational robots slider */
div.item:nth-of-type(1) {
  --offset: 1;
  background-color: #ffffff;
  box-shadow: 0 3px 24px rgb(0 0 0/10%);

}

/* css for domestic robot slider */
div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #ffffff;
  box-shadow: 0 3px 24px rgb(0 0 0/10%);

}

/* css for welcome slider*/
div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #ffffff;
  box-shadow: 0 3px 24px rgb(0 0 0/10%);

}

/* css for industry slider */
div.item:nth-of-type(4) {
  --offset: 4;
  background-color: #ffffff;
  box-shadow: 0 3px 24px rgb(0 0 0/10%);
}

/* css for military slider */
div.item:nth-of-type(5) {
  --offset: 5;
  background-color: #ffffff;
  box-shadow: 0 3px 24px rgb(0 0 0/10%);
}

input {
  cursor: pointer;
}

/* For Carousel Indicators */
input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input:nth-of-type(1):checked~section#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  cursor: pointer;
}

input:nth-of-type(2):checked~section#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;

}

input:nth-of-type(3):checked~section#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

input:nth-of-type(4):checked~section#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

input:nth-of-type(5):checked~section#carousel {
  --position: 5;
}

/* Carousel welcome slider position*/
.cards {
  width: 100%;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  border-radius: 2px;
  overflow: hidden;
  display: inline-block;
  padding: 15px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-3 {
  background-color: #a72a32 !important;
  color: #ffffff !important;
}

.welcome-card p {
  padding: 25px;
  font-size: 25px;
  color: #ffffff;

}

/* Carousel image css */
.item .carousel-img {
  height: 267px;
  width: 100%;
  object-fit: contain;
  border: 1px solid #e1d9d9;
}

.inner-img {
  transition: 0.3s;
}

.inner-img:hover {
  transform: scale(1.11);
  object-fit: contain;
  background-color: #ffffff;
}

.item .title {
  font-weight: 14px;
  padding: 15px;
  text-align: center;
}

.item .desc {
  padding: 5px 15px;
  text-align: justify;
  color: #525252;
  font-size: 14px;
}

.item .explore .exp-btn {
  margin: 5px;
  height: 35px;
  width: 100px;
  background: #a72a32;
  border-color: #a72a32;
  cursor: pointer;
  color: white;
  pointer-events: auto;
  border: none;
  padding: 4px 8px;
}

.exp-btn:hover {
  background-color: #57171b;
}

button a {
  color: white;
}