.robots img {
    width: 100%;
    max-height: 265px;
    height: 225px;
    object-fit: cover;
    border: 1px solid #e1d9d9;
}

.robots .one-thirds {
    display: inline-block;
    /* box-shadow: 0px 5px 10px 0px #aaa;    */
}

.robots .border-shadows {
    box-shadow: 0px 5px 10px 0px #aaa;
    padding: 15px 15px 11px 15px;
    width: 100%;
    margin: 0px 3px;
    border: 1px solid #ffffff;
}

.robots .desc {
    /* padding: 5px 15px; */
    text-align: justify;
    color: #525252;
}

.white-bg {
    background-color: #ffffff;
    padding: 15px 35px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-left: 10px;
    margin-right: 10px;
    /* min-height: 45%; */
}

.inspire-text {
    position: absolute;
    top: 10%;
    left: 57%;
    padding-right: 26px;
}

.inspire-text p {
    font-size: 26px;
    color: #3498db;
    font-weight: 400;
}

.inspire-text small {
    color: #777777;
    font-size: 16px;
}

.invitation {
    /* margin: 0px 15px auto 15px; */
    background-color: #3498db;
    padding: 40px;
    text-align: center;
}

.invitation p {
    font-size: 26px;
    color: #ffffff;
}

.invitation small {
    font-size: 20px;
    color: #ffffff;
    font-weight: normal;
}

.touch {
    height: 54px;
    margin-top: 25px;
    padding: 15px 29px;
    border-radius: 19px;
    border: none;
    background: #ff9770;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.touch:hover {
    background: #e26f45;
}

.margin-auto {
    margin: 25px 15px auto 15px;
}

.white-gb img {
    transform-style: preserve-3d;
    transform: scaleX(0.88) scaleY(0.95);
}

.spec p {
    padding: 0px !important;
}

.spec-title {
    width: 22%;
    text-align: right;
    margin-right: 50px;
}