/* CSS for robots tab */

.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs>article {
    order: 999;
    width: 100%;
    display: none;
}

.tabs>input {
    opacity: 0;
    position: absolute;
}

.tabs>input[type=radio]:checked+label+article {
    display: unset;
}

.tabs>label {
    padding: .5em 1em;
    cursor: pointer;
}

.tabs>label:last-of-type {
    border-right: none;
}

.tabs>input[type=radio]:checked+label {
    border-bottom: 2px solid #a82b33;
}

.tabs article {
    padding: 1em;
}

/* End of robot tab */