.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs>section {
    order: 999;
    width: 100%;
    display: none;
}

.tabs>input {
    opacity: 0;
    position: absolute;
}

.tabs>input[type=radio]:checked+label+section {
    display: unset;
}

.tabs>label {
    padding: .5em 1em;
    cursor: pointer;
}

.tabs>label:last-of-type {
    border-right: none;
}

.tabs>input[type=radio]:checked+label {
    /* background: #798f99; */
    border-bottom: 2px solid #a82b33;
}

.tabs section {
    /* border: 1px #798f99 solid; */
    /* border-top: 5px #798f99 solid; */
    padding: 1em;
}